/* style.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: orange;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
  font-family: 'Montserrat';
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

/*          Navigation        */

.sticky {
  z-index: 9999;
  position: fixed;
  background: #fff;
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 3.5rem;
}

#nav-menu {
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--white);
  z-index: 1;
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.3s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}


/*      Search       */


.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}


  /*          Hamburger Menu      */


#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}
  

/*        Responsive media queries - navigation       */


@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 10px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}



/*   Carousel    */

.slider {
  position: relative;
  background: transparent;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 45px;
}
.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}
.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 3s;
}
.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.slider .slide .info {
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 150px;
  margin-left: 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  line-height: 80px;
}
.slider .slide .info h2 {
  font-size: 2.5em;
  font-weight: 800;
}
.slider .slide .info p {
  font-size: 1em;
  font-weight: 500;
  line-height: 32px;
}
.navigation {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.slider:hover .navigation {
  opacity: 1;
}
.prev-btn, .next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}
.prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}
.navigation-visibility .slide-icon {
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}
.navigation-visibility .slide-icon.active {
  background: #4285F4;
}
@media (max-width: 900px) {
  .slider {
      width: 100%;
  }
  .slider .slide .info {
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
}
@media (max-width: 500px) {
  .slider .slide .info h2 {
      font-size: 1.8em;
      line-height: 40px;
  }
  .slider .slide .info p {
      font-size: 0.9em;
  }
}



/*  Save the world  */

.savetheworld {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.savetheworld h1 {
  color: rgba(2, 63, 2, 0.788);
  font-weight: 800;
}
h1 {
	font-size: 36px;
	font-weight: 600;
}
p {
	color: black;
	font-size: 15px;
	font-weight: 450;
	line-height: 22px;
	padding: 10px;
}


/*   What We Do    */


.what-we-do {
    font-family: 'Roboto', sans-serif;
  }
  .what-we-do-container {
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
  }
  .what-we-do .boxes-area {
    margin-top: 25px;
    margin-bottom: 75px;
  }
  .what-we-do-row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 5%;
  }
  .what-we-do-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (min-width: 768px) {
  .what-we-do-col {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  }
  .col-heading {
    padding-bottom: 1rem !important;
  }
  .what-we-do-col2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .what-we-do .how-col2 {
    margin: auto;
    flex-basis: 31%;
      border-radius: 10px;
      margin-bottom: 5%;
      padding: 20px 12px;
      box-sizing: border-box;
      transition: 1s;
  }
  .how-col .how-col2 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  @media (min-width: 992px) {
  .how-col2 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
  }
  @media (min-width: 768px) {
  .how-col {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
  }
  @media(max-width: 700px) {
    .what-we-do-row {
      flex-direction: column;
    }
  }
  .what-we-do h2 {
    font-weight: 400;
    color: #e9da05;
  }
  .what-we-do p {
    font-weight: 400;
  }
  

  /*       What We Do Columns       */


.school-tours {
    min-height: 470px;
    background: url(Images/High\ School.jpeg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px;
}
.poverty {
    min-height: 470px;
    background: url(Images/Soup\ Kitchen.jpeg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px;
}
.livelihoods {
  min-height: 470px;
  background: url(Images/homes.jpg) no-repeat center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 0px;
}
.rescue-shelters {
  min-height: 470px;
  background: url(Images/homeless.jpg) no-repeat center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 0px;
}

 
  /*     Sponsorship    */

section {
    display: block;
  }
  .sponsorship {
    min-height: 470px;
    background: url(Images/Collo.jpg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px;
    margin-bottom: 70px;
  }
  

  /*    Stories    */


  .school-section {
    min-height: 470px;
    background: url(Images/Together.jpg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px;
  }
 
  .stories-container {
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
  }
@media (min-width: 1200px) {
.stories-container {
    max-width: 1140px;
}
}
@media (min-width: 992px) {
.stories-container {
    max-width: 960px;
}
}
  .stories-section, .stories-col {
    height: 470px;
  }
  .stories-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .d-flex {
    display: flex!important;
    display: -ms-flexbox!important;
  }
  .stories-section, .stories-box {
    background: rgba(0, 0, 0, 0.75);
    color: #FFF;
    padding: 50px;
  }
  .align-self-center {
    align-self: center!important;
  }
  .stories-section,  .stories-box h2 {
    font-weight: 500 !important;
    margin-bottom: 15px;
  }
  .stories-section, .stories-box p {
    color: #fff;
    font-weight: 300 !important;
    margin-bottom: 15px;
  }

  
/*         Difference        */

.cta {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
  }
  .cta span {
    background: #2b72fb;
    height: 5px;
    width: 50px;
    position: absolute;
  }
  

  /*    footer     */
  

  .footer {
    background-color: rgba(2, 63, 2, 0.788);
    padding: 70px 0;
  }
  .footer-container {
    background-color: rgba(2, 63, 2, 0.788);
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .footer-ul {
    list-style: none;
  }
  .footer-li {
    color: #fff;
  }
  .footer-row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #cbe91e;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #fff;
    padding-left: 10px;
    transition: 1s;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
  }
  
  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  display: block;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px  solid #dee2e6;
  border-right: 0;
}
.input-group>.form-control {
position: relative;
flex: 1 1 auto;
width: 1%;
min-width: 0;
margin-bottom: 0;
}
.btn-lg {
    padding: 0.5rem 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.25rem;
    line-height: 1.5; 
    color: #fff;
    background-color: #fff;
    border-color: orange;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #fff;
    border-radius: 15px;
}

  /*                            About Page             */

section {
    display: block;
  }
  .about-section {
    min-height: 470px;
    background: url(Images/Love\ Book.jpg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px;
    margin-bottom: 150px;
  }
  .about-section h2 {
    color: #cbe91e;
  }
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  #history {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    border-top: 1px solid #fff;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .history-container {
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
  }
  .history-row {
    display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 0;
  }
  .history-col {
    position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  @media (min-width: 768px) {
  .order-md-1 {
      -ms-flex-order: 1;
      order: 1;
  }
  }
  @media (min-width: 768px) {
  .history-col {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
  }
  #history p {
    font-weight: 400;
  }
  .py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
  }
  .order-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  @media (min-width: 768px) {
  .order-md-2 {
      -ms-flex-order: 2;
      order: 2;
  }
  }
  #history img {
    width: 500px;
  }
  .mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
  }
  .d-block {
    display: block!important;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
#history h2 {
  color: #cbe91e;
}



  /*    Donate Form     */




  .donate-section {
    min-height: 470px;
    background: url(Images/Soldier\ &\ Kids.jpg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px;
  }
  .donate-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    z-index: 99;
  }
  .donate-col {
    background-image: url(Images/Soldier\ &\ Kids.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 65vh;
  }
  @media (min-width: 768px) {
    .donate-col {
      margin-left: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .donate-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .donate-container {
      max-width: 720px;
    }
  }
 
.display-4 {
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
}
.md-5 {
    margin-bottom: 3rem;
    margin-top: 0;
}

.donate {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #f8f9fa;
}
.mpesa-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}
@media (min-width: 992px) {
  .mpesa-container {
    max-width: 960px;
  }
}
.mpesa-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .mpesa-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
h3 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  font-size: 2rem;
}
.col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-lg-6 {
  flex: 0 0 50%;
}
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.form-group {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;
  width: 100%;
}
input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
}
.col-md-12 {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.mpesa-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 3px solid transparent;
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 01.15s;
}
.mpesa-btn-primary {
  padding-left: 15px;
  color: #fff;
  border-radius: 5px;
  background-color: orange;
  border-color: orange;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
@media (min-width: 768px) {
  .offset-md-1 {
    margin-left: 8.33%;
  }
}
.mt-3 {
  margin-top: 1rem;
}
h6 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.text-muted {
  color: #6c757d;
  padding-left: 1rem;
  margin-bottom: 3rem;
}
ol {
  margin-top: 0;
  display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
::marker {
  unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
 .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s eas;
  }
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }
